<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
	    <title th:text="${title}"/>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	</head>
	
	<body>
	
	<header th:insert="blocks/header :: header"></header>
			
		<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		  <h1 class="display-4">Интернет магазин</h1>
		  <p class="lead">Сделайте ваш выбор</p>
     		 <div th:each="objects : ${objects}" class="alert-info mt-2">
				<h4 th:text="'Наименование товара: ' + ${objects.title}"/>
				<pre th:text="'Описание товара: ' +${objects.description}"/>
				<strong><p th:text="'Цена: ' + ${objects.price} + ' рублей'"/></strong>
				<form action="/bag" method="post">
				  	<input type="hidden" name="title" th:value="${objects.title}"/>
					<input type="hidden" name="price" th:value="${objects.price}"/>
					<button type="submit" class="btn btn-success">Добавить в корзину</button>
				</form>
			</div>
		</div>
			
		<div th:insert="blocks/footer :: footer"></div>
		
	</body>
</html>