<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
    </head>
   
    <body>
        Add new user
        <div th:if="${message}">
            "${message}"
        </div>
        <form th:action="@{/registration}" method="post">
            <div><label> User Name : <input type="text" name="username" class="form-control" placeholder="username" required="" autofocus=""/> </label></div>
            <div><label> Password: <input type="password" name="password" class="form-control" placeholder="Password" required=""/> </label></div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </body>
</html>