<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	    <style>
		  body {
	    margin: 20px;
	    padding: 10px; 
	   }
	  </style>
</head>
<body>
	<header th:insert="blocks/header :: header"></header>
	<div>
		<h3>Тестовое задание</h3> <br>
	
			<h4> Разработать тестовое приложение, представляющее электронный магазин в простейшем варианте. </h4>
	
		  <h5>Краткое описание системы. Начинается с формы логина. В результате логина открывается функционал, в зависимости от роли пользователя.
	    	В системе прописаны две роли пользователей:</h5>
	
	      <ol><li>Покупатель.Форма, на которой покупатель видит список товаров. Имеет возможность выбрать несколько товаров и сформировать из них заказ.
	        Система должна сформировать заказ и вернуть ему номер заказа.</li>
	
	      	<li>Продавец. Форма, на которой продавец видит список заказов.
	          Имеет возможность «провалиться в заказ» (можно модальную форму), и показать список товаров в заказе.</li>
	      </ol>
	
	    	<ul>
	        <li>Первичное наполнение базы данных товарами, пользователями статическое.
	        То есть набор Insert-ов на этапе формирования СУБД.
	        При желании можно сделать простенькие редакторы для дополнительной роли Администратор (не обязательно)</li>
	      </ul>
	
		<h5> СУБД </h5>
	
	    <ul><li> Использовать PostgreSQL или локальный H2</li>
	
	    	<li> Для создания таблиц, и необходимого первичного наполнения предоставить набор SQL скриптов.
	      Плюсом будет использование liquibase скриптов на всех этапах создания проекта (каждое изменение на этапе разработки в отдельном changeset) </li>
	    </ul>
	
		<h5> Сервер приложений </h5>
	
		<ul><li> Tomcat </li>
	
		<li> Максимально использовать стек технологий, описанных в вакансии. Ключевые параметры: Spring, Spring MVC, Hibernate, Angular.
	  Любое использование Spring (SpringBoot, SpringSecurity) приветствуется. </li>
	
		<li>Возможность собрать приложение из полученных данных. Краткая инструкция. </li>
	  Желательно Maven скрипт на сборку. Допускается готовый AppServer с развёрнутым приложением, который можно запустить и посмотреть результат работы приложения.
	</ul>
	</div>
	<div>	
		<div th:insert="blocks/footer :: footer"></div>
	</div>
</body>
</html>